.chat-container {
  position: fixed;
  left: 0;
  top: 80px;
  width: 300px;
  height: calc(100vh - 184px);
  background-color: #1e1e1e;
  border-right: 2px solid #444;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  padding: 15px;
  overflow: hidden;
}

.chat-container h2 {
  margin-bottom: 15px;
  color: #ffe8a9;
  margin-top: 0;
  font-size: 1.2em;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ffe8a973;
  background-color: #2a2a2a73;
  border-radius: 5px;
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.719), inset 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Webkit Browsers (Chrome, Safari) */
.chat-messages::-webkit-scrollbar {
  width: 10px; 
}

.chat-messages::-webkit-scrollbar-track {
  background: #444; 
  border-radius: 5px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #ffe8a9; 
  border-radius: 5px;
  border: 2px solid #444; 
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background-color: #ffe8a9;
}

/* Firefox */
.chat-messages {
  scrollbar-width: thin; 
  scrollbar-color: #ffe8a9 #444; 
}

.chat-message {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #242424;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.chat-message .fa-user{
  margin-right: 10px;
}

.chat-message:hover {
  background-color: #2c2c2c;
}

.chat-message-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.chat-user-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #555;
}

.chat-username {
  font-weight: bold;
  color: #ffffff;
  margin-right: 10px;
}

.chat-timestamp {
  font-size: 0.8em;
  color: #888;
  margin-left: auto;
}

.chat-message-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #e0e0e0;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  white-space: pre-wrap;
}

.chat-input-container {
  display: flex;
  align-items: center;
  background-color: #2a2a2a73;
  border-radius: 5px;
  padding: 10px;
}

.chat-input-container input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #363636;
  border-radius: 5px;
  background-color: #1e1e1e;
  color: #e0e0e0;
  font-size: 0.9em;
  transition: border-color 0.3s ease;
  outline: none;
}

.chat-input-container input::placeholder {
  color: #888;
}

.chat-input-container input:focus {
  border: 1px solid #ffe8a9;
  box-shadow: 0 0 5px rgba(255, 198, 43, 0.5);
}

.chat-input-container button {
  padding: 10px 15px;
  background-color: #f03e3e;  
  color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.chat-input-container button:hover {
  transform: scale(1.05);
}