.chat-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 330px;
  height: calc(100vh - 80px);
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #04060A;
  color: #e0e0e0;
  border-right: 1px solid rgba(61, 61, 61, 0.288);
  display: flex;
  flex-direction: column;
}


.chat-container h2 {
  margin-bottom: 15px;
  color: #ffffff;
  margin-top: 0;
  font-size: 1.2em;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #04060A;
  border-radius: 5px;
}

/* Webkit Browsers (Chrome, Safari) */
.chat-messages::-webkit-scrollbar {
  width: 10px; 
}

.chat-messages::-webkit-scrollbar-track {
  background: #444; 
  border-radius: 5px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #ff172b; 
  border-radius: 5px;
  border: 2px solid #444; 
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background-color: #ff172b;
}

/* Firefox */
.chat-messages {
  scrollbar-width: thin; 
  scrollbar-color: #ff172b #444; 
}

.chat-message {
  margin-bottom: 15px;
  padding: 15px;
  background-color: rgb(8, 10, 15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.chat-message .fa-user{
  margin-right: 10px;
}

.chat-message-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.chat-user-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #555;
}

.chat-username {
  font-weight: bold;
  color: #ffffff;
  margin-right: 10px;
}

.chat-timestamp {
  font-size: 0.8em;
  color: #888;
  margin-left: auto;
}

.chat-message-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  white-space: pre-wrap;
}

.chat-input-container {
  display: flex;
  align-items: center;
  background-color: #0b101b;
  border-radius: 5px;
  padding: 10px;
}

.chat-input-container input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #202020;
  border-radius: 5px;
  background-color: #04060A;
  color: white;
  font-size: 0.9em;
  transition: border-color 0.3s ease;
  outline: none;
}

.chat-input-container input::placeholder {
  color: #888;
}

.chat-input-container input:focus {
  border: 1px solid #ff2538;
  box-shadow: 0 0 5px #ff2538;
}

.chat-input-container button {
  padding: 10px 15px;
  background-color: #ff2538;  
  color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.chat-input-container button:hover {
  transform: scale(1.05);
}