.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.casino-header {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 0 60px 0 60px;
  overflow: hidden;
}

.header-logo img {
  overflow: hidden;
  width: 270px;
  margin-right: 3rem;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a, .auth-button {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  padding-bottom: 5px;
}

.logged-in-info {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-left: auto;
  gap: 40px;
}

.header-buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  gap: 32px;
  flex-direction: row;
}

.header-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.3s;
  gap: 2px;
}

.header-buttons a {
  position: relative;
  color: #bbbbbb;
  text-decoration: none;
  padding-bottom: 5px;
}

.header-button:hover {
  color: #ffffff;
}

.header-button:hover .header-icon {
  color: #ff1e39;
}

.header-buttons a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ff1e39;
  transition: width 0.3s;
}

.header-buttons a:hover::after {
  width: 100%;
}

.auth-buttons {
  display: flex;
  gap: 15px;
}

.login-button, .profile-button {
  color: rgb(230, 230, 230);
  background-color: transparent;
  transition: all 0.3s ease;
}

.header-profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.login-button:hover, .profile-button:hover {
  color: #ff1e39;
}

.sign-up-button, .logout-button {
  background-color: #ff1e39;
  color: #ffffff;
}

.auth-button {
  height: 40px;
  width: 100%;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-symbol {
  color: #ffffff;
  font-size: 1.2em;
  margin-right: 10px;
  transition: transform 0.2s ease;
}

.logout-symbol:hover {
  transform: scale(1.05);
}

.user-info, .user-balance {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}

.user-balance { 
  gap: 5px;
}

.user-balance {
  transition: color 0.3s ease;
}

.balance-flash-red {
  animation: flashRed 1s ease;
}

.balance-flash-green {
  animation: flashGreen 1s ease;
}

@keyframes flashRed {
  0% {
    color: #ffffff;
  }
  50% {
    color: #f35454;
  }
  100% {
    color: #ffffff;
  }
} 

@keyframes flashGreen {
  0% {
    color: #ffffff;
  }
  50% {
    color: #00ff00;
  }
  100% {
    color: #ffffff;
  }
} 


.total-bets-placed{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  margin-left: auto;
}

.total-bets-placed span{
  color: #ff1e39;
}

.total-bets-placed img{
  width: 30px;
}