.user-info-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.casino-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid #ffe8a9b4;
  box-sizing: border-box;
  padding: 0 20px;
  overflow: hidden;
}

.header-logo img {
  width: 200px;
  margin-right: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a, .auth-button {
  position: relative;
  color: #8e8f8f;
  text-decoration: none;
  transition: color 0.3s;
  padding-bottom: 5px;
}

.logged-in-info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.header-buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
  flex-direction: row;
}

.header-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.3s;
  gap: 2px;
}

.header-buttons a {
  position: relative;
  color: #8e8f8f;
  text-decoration: none;
  padding-bottom: 5px;
}

.header-button:hover {
  color: #ffffff;
}

.header-button:hover .header-icon {
  color: #ffe8a9;
}

.header-buttons a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ffe8a9;
  transition: width 0.3s;
}

.header-buttons a:hover::after {
  width: 100%;
}

.auth-buttons {
  display: flex;
  gap: 15px;
}

.login-button {
  background-color: transparent;
  border: 1px solid #ffe8a9;
  transition: all 0.3s ease;
}

.login-button:hover {
  color: #ffe8a9;
  transition: box-shadow 0.2s ease 0s;
  box-shadow: 0 0 4px #ffe8a9;
}

.sign-up-button {
  background: linear-gradient(180deg, #dc2626 0%, #831818 100%);
  border: 1px solid #ffe8a9;
  color: #ffe8a9;
}

.sign-up-button:hover {
  color: #ffe089;
  transition: box-shadow 0.2s ease 0s;
  box-shadow: 0 0 4px #ffe8a9;
}

.auth-button {
  padding: 8px 20px;
  width: 100px;
  border-radius: 14px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logout-button {
  background: linear-gradient(180deg, #dc2626 0%, #831818 100%);
  color: #ffe8a9;
  transition: background 0.3s ease;
}

.logout-button:hover {
  background: linear-gradient(180deg, #e70d0d 0%, #460707 100%);
}


.profile-button:hover {
  background-color: #2d3748;
}

.user-info, .user-balance {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #8e8f8f;
}

.user-balance {
  transition: color 0.3s ease;
}

.balance-flash-red {
  animation: flashRed 1s ease;
}

.balance-flash-green {
  animation: flashGreen 1s ease;
}

@keyframes flashRed {
  0% {
    color: #8e8f8f;
  }
  50% {
    color: #f35454;
  }
  100% {
    color: #8e8f8f;
  }
} 

@keyframes flashGreen {
  0% {
    color: #8e8f8f;
  }
  50% {
    color: #00ff00;
  }
  100% {
    color: #8e8f8f;
  }
} 

.auth-buttons button {
  background-color: #1F2937;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}