.user-info-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.casino-header {
  background-color: #242424;
  color: white;
  text-align: center;
  position: relative;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #333;
}

.header-content {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 10px;
}

.logged-in-info {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: row;
}

.header-buttons a {
  color: #8e8f8f;
  border-radius: 4px;
  width: 100px;
  transition: color 0.3s;
}

.home-button:hover {
  color: #f03e3e;
}

.auth-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2.5rem;
  gap: 15px;
}

.login-button {
  background-color: none;
}

.login-button:hover {
  background-color: #f0f0f0;
  color: rgb(139 92 246);
}

.sign-up-button {
  background-color: rgb(139 92 246);
}

.sign-up-button:hover {
  background-color: #902bd3;
}

.auth-button {
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 40px;
  padding: 5px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.logout-button {
  background-color: #e53e3e;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #770b0b;
}


.profile-button:hover {
  background-color: #2d3748;
}

.user-info {
  color: white;
  margin-right: 15px;
  font-size: 1.1em;
}

.user-balance {
  transition: color 0.3s ease;
}

.balance-flash-red {
  animation: flashRed 1s ease;
}

.balance-flash-green {
  animation: flashGreen 1s ease;
}

@keyframes flashRed {
  0% {
    color: white;
  }
  50% {
    color: #f35454;
  }
  100% {
    color: white;
  }
} 

@keyframes flashGreen {
  0% {
    color: white;
  }
  50% {
    color: #00ff00;
  }
  100% {
    color: white;
  }
} 

.auth-buttons button {
  background-color: #1F2937;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-buttons button:hover {
  background-color: #f03e3e;
} 