<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake Casino Website</title>
</head>
<body>
    <h1>Fake Online Casino!</h1>
    <p>Handle your gambling addiction without the consequences!</p>
</body>
</html>