.blackjack-page{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-left: 260px;
  padding-top: 80px;
  height: calc(100vh - 80px - 81px - 19px);
}

.blackjack-main-card {
  border: 1px solid #333;
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: #0c0c0c;
  color: white;
  border-radius: 15px;
  max-width: 800px;
}

.player-cards, .dealer-cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

p {
  margin-right: 5px;
}