.blackjack {
  border: 1px solid #333;
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: #0c0c0c;
  color: white;
  border-radius: 15px;
}

.blackjack button {
  background-color: #1F2937;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.blackjack button:hover {
  background-color: #f03e3e;
}

.player-cards, .dealer-cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

p {
  margin-right: 5px;
}