/*Main Card*/
.main-card{
  display: flex;
  flex-direction: column;
  padding: 0 60px 20px 60px;
  gap: 40px;
  height: calc(100vh - 80px - 40px);
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 1800px) and (max-width: 1900px) {
  .main-card {
    height: calc(100vh - 80px - 40px);
  }
}

/*Main Section, Main Card (intro)*/
.main-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 40px;
  height: 100%;
}

.intro-cards { 
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  height: 100%;
}

/*Welcome Card*/
.welcome-card {
  padding-left: 4rem;
  border-radius: 1px;
  display: flex;
  justify-content: start;
  align-items: center;
  background: linear-gradient(180deg, rgba(38,42,50,1) 0%, rgba(15,18,25,1) 100%);
  height: 70%;
  border: 1px solid transparent;
  border-image: linear-gradient(5deg, #161b25, #313336);
  border-image-slice: 1;
  overflow: hidden;
}

.welcome-card-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.welcome-card-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

/* Casino Stats Section */
.casino-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  width: 50%;
  color: #fff;
  height: 60%;
}

.casino-stats h3 {
  font-size: 24px;
  margin: 0 0 10px 0;
  color: #ffffff;
}

.casino-stats p {
  font-size: 18px;
  margin: 5px 0;
}

.casino-stats span {
  font-weight: bold;
  color: #ff1e39;
}

.welcome-card h2 {
  font-size: 50px;
  margin: 0;
  text-align: left;
}

.welcome-card p {
  color: #b3b1ae;
}

/*Divider Bar*/
.divider-bar {
  border-radius: 1px;
  background-color: #e6092e;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 50px;
}

.divider-bar svg{
  margin-left: 150px;
  margin-right: 50px;
}

/*Main Games Cards*/
.main-games {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 60%;
}

.roulette-card, .blackjack-card{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 40px;
  width: 50%;
  border: 1px solid transparent;
  border-image: linear-gradient(40deg, #5d6271, #10141d);
  border-image-slice: 1;
}

.blackjack-card {
  background-image: url("../images/blackjack-card.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
}

.roulette-card {
  background-image: url("../images/roulette-card.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-game-items {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}

.main-game-items h3 {
  color: white;
  margin: 0 0 10px 0;
}

/*Mini Game Cards*/
.games{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  height: 20%;
}

.plinko, .slots, .heads-or-tails, .crash{
  background: rgb(9,13,23);
  background: linear-gradient(348deg, rgba(14,18,27,255) 0%, rgba(30,34,46,255) 50%, rgba(42,48,62,255) 100%);
  width: 25%;
  border: 1px solid transparent;
  border-image: linear-gradient(135deg, #5d6271, #10141d);
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.slots {
  background-image: url('../images/slots-card.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
}

.plinko {
  background-image: url('../images/plinko-card.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
}

.crash {
  background-image: url('../images/crash-card.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
}

.heads-or-tails {
  background-image: url('../images/headsortails-card.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
}

/*Play Now Button*/
.play-now-button{
  width: 220px;
  background-color: #ff1e39;
  box-shadow: 0 0 10px #ff1e39;
  transition: transform 0.3s ease;
}

.play-now-button .fa-angles-right {
  margin-left: 5px;
}

.play-now-button:hover{
  transform: scale(1.05);
}