a {
  text-decoration: none;
}

.main-card {
  margin: 20px;
  text-align: center;
  color: rgb(230, 110, 12);
}

.main-card-buttons {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.main-card h2 {
  font-size: 1.5em;
}

.main-card-buttons ul {
  list-style-type: none;
  padding: 0;
}

.main-card-buttons li {
  margin: 10px 0;
  font-size: 1.2em;
} 