.profile-container {
    max-width: 600px;
    color: white;
    margin: 40px auto;
    padding: 20px;
    background-color: #1e2024;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #333;
}

.profile-info {
    text-align: left;
    padding: 20px;
}

.profile-info p {
    margin: 15px 0;
    font-size: 1.1em;
    color: #e08c97;
}

.profile-info strong {
    color: white;
    margin-right: 10px;
}